<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="dataSet" value="mnist"/>
    <add key="dataSetSamples" value="50"/>
    <add key="dataSetSamplesSize" value="28"/>
    
    <add key="inputLayerNodes" value="784"/>
    <add key="hiddenLayerNodes" value="196"/>
    <add key="outputLayerNodes" value="784"/>
    
    <add key="lambda" value="0.003"/>
    <add key="sparsity" value="0.1"/>
    <add key="beta" value="3"/>
    
    <add key="lbfgsEpsg" value="0.0000000001"/>
    <add key="lbfgsEpsf" value="0"/>
    <add key="lbfgsEpsx" value="0"/>
    <add key="lbfgsMaxIts" value="400"/>
    <add key="lbfgsCorrs" value="5"/>
    
    <add key="filtersPerRow" value="14"/>
    <add key="filtersWidth" value="28"/>
    <add key="filtersHeight" value="28"/>
    <add key="filtersPixelSize" value="1"/>
    
    <add key="testSamples" value="100"/>
    <add key="testSamplesPerRow" value="10"/>
    <add key="testSamplesPerColumn" value="10"/>
    <add key="testSamplesWidth" value="28"/>
    <add key="testSamplesHeight" value="28"/>
    <add key="testSamplesPixelSize" value="1"/>
  </appSettings>
</configuration>
